extends layout

block overlay
	.loading
		.tb-loader
			i.icomoon-tagbin.anim
		.k-contain#canvasworld

		.container-fluid.tile.hide.loadActions(data-action='getLikePosts', data-target='.data')
			.row-fluid.data
				.span5
					div#userpic
						img.pic.userpic(src='./static/img/laura.jpg')
				.span7
					.username Sar
					.post Hello, Guest
					.row-fluid
						.span1
							i.entypo-thumbs-up.thumb
						.span11#likes_count
		//-.hide.swipe_notification.pulsed Swipe your Tag

		.tagbin.hide
			.container-fluid
				.row-fluid
					.span5._text powered by
					.span7
						img.tagbin_img(src='./static/img/tagbin.png')
