@-moz-keyframes flashIt {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  40% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  70% {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-webkit-keyframes flashIt {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  40% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  70% {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-o-keyframes flashIt {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  40% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  70% {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-ms-keyframes flashIt {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  40% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  70% {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes flashIt {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  40% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  70% {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-moz-keyframes cdowns {
  0% {
    font-size: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  50% {
    font-size: 200px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  }

  75% {
    font-size: 270px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    font-size: 300px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-webkit-keyframes cdowns {
  0% {
    font-size: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  50% {
    font-size: 200px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  }

  75% {
    font-size: 270px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    font-size: 300px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-o-keyframes cdowns {
  0% {
    font-size: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  50% {
    font-size: 200px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  }

  75% {
    font-size: 270px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    font-size: 300px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-ms-keyframes cdowns {
  0% {
    font-size: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  50% {
    font-size: 200px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  }

  75% {
    font-size: 270px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    font-size: 300px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes cdowns {
  0% {
    font-size: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  50% {
    font-size: 200px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  }

  75% {
    font-size: 270px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    font-size: 300px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-moz-keyframes _loading {
  0% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  30% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  50% {
    margin-top: 75px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  }

  60% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  70% {
    margin-top: 80px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  }

  80% {
    margin-top: 95px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }

  100% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes _loading {
  0% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  30% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  50% {
    margin-top: 75px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  }

  60% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  70% {
    margin-top: 80px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  }

  80% {
    margin-top: 95px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }

  100% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes _loading {
  0% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  30% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  50% {
    margin-top: 75px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  }

  60% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  70% {
    margin-top: 80px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  }

  80% {
    margin-top: 95px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }

  100% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-ms-keyframes _loading {
  0% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  30% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  50% {
    margin-top: 75px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  }

  60% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  70% {
    margin-top: 80px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  }

  80% {
    margin-top: 95px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }

  100% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes _loading {
  0% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  30% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  50% {
    margin-top: 75px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  }

  60% {
    margin-top: 90px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  70% {
    margin-top: 80px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  }

  80% {
    margin-top: 95px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }

  100% {
    margin-top: 100px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes needyFooter {
  0% {
    background-color: #33b5e5;
  }

  50% {
    background-color: rgba(51,181,229,0.6);
  }

  100% {
    background-color: #33b5e5;
  }
}
@-webkit-keyframes needyFooter {
  0% {
    background-color: #33b5e5;
  }

  50% {
    background-color: rgba(51,181,229,0.6);
  }

  100% {
    background-color: #33b5e5;
  }
}
@-o-keyframes needyFooter {
  0% {
    background-color: #33b5e5;
  }

  50% {
    background-color: rgba(51,181,229,0.6);
  }

  100% {
    background-color: #33b5e5;
  }
}
@-ms-keyframes needyFooter {
  0% {
    background-color: #33b5e5;
  }

  50% {
    background-color: rgba(51,181,229,0.6);
  }

  100% {
    background-color: #33b5e5;
  }
}
@keyframes needyFooter {
  0% {
    background-color: #33b5e5;
  }

  50% {
    background-color: rgba(51,181,229,0.6);
  }

  100% {
    background-color: #33b5e5;
  }
}
.frontlayer,
.backlayer,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.frontlayer {
  z-index: 50;
  overflow: hidden;
}
.backlayer {
  z-index: 30;
}
.overlay {
  z-index: 1300;
  display: none;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  left: 85px;
  bottom: 0;
  right: 20px;
  width: auto;
  height: 100%;
}
.padded {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1310;
  background-color: #fff;
  height: 100%;
  width: 100%;
}
.loading .tb-loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1308;
  padding-top: 80px;
  text-align: center;
}
.loading .tb-loader i {
  display: block;
  font-size: 300px;
  color: transparent;
  -webkit-background-clip: text;
  background-color: #9d69b4;
}
.loading .tb-loader i.anim {
  -webkit-animation: _loading 1s ease-out infinite;
  -moz-animation: _loading 1s ease-out infinite;
  -o-animation: _loading 1s ease-out infinite;
  -ms-animation: _loading 1s ease-out infinite;
  animation: _loading 1s ease-out infinite;
}
.loading canvas.ldcanvas,
.loading canvas.sea-of-tweets {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0px;
  left: 0px;
  z-index: 1305;
  display: block;
}
.loading .k-contain {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1306;
  display: block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.loading ul.loader-menu {
  position: relative;
  z-index: 1309;
  text-align: center;
  list-style: none;
  height: auto;
  margin: 15% 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.loading ul.loader-menu li {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
}
.loading ul.loader-menu li a.btn-hex {
  display: block;
  background-color: #9d69b4;
  border: 1px #9d69b4 solid;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  padding: 36px 36px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.loading ul.loader-menu li a.btn-hex i {
  display: block;
  color: #fff;
  font-size: 80px;
  margin-top: 0px;
  width: 100px;
}
.loading ul.loader-menu li a.btn-hex .title {
  padding: 13px 12px;
  text-align: center;
  width: 100%;
  font-size: 24px;
  color: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: inherit;
  position: absolute;
  top: -70px;
  left: -6px;
  height: 30px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.loading ul.loader-menu li a.btn-hex .title:after {
  position: absolute;
  bottom: -44px;
  background-color: inherit;
  width: 4px;
  left: 50%;
  margin-left: -10px;
  height: 0;
  content: '';
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.loading ul.loader-menu li a.btn-hex:hover,
.loading ul.loader-menu li a.btn-hex:active {
  text-decoration: none;
}
.loading ul.loader-menu li a.btn-hex:hover {
  position: relative;
  top: -20px;
}
.loading ul.loader-menu li a.btn-hex:hover .title {
  top: -100px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.loading ul.loader-menu li a.btn-hex:hover .title:after {
  height: 49px;
}
.loading ul.loader-menu li a.btn-hex:active {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
}
.loading ul.loader-menu li a.btn-hex p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.loading ul.loader-menu li a.btn-hex.green {
  background-color: #33dc49;
  border-color: #33dc49;
}
.loading ul.loader-menu li a.btn-hex.blue {
  background-color: #33b5e5;
  border-color: #33b5e5;
}
.loading ul.loader-menu li a.btn-hex.purple {
  background-color: #9d69b4;
  border-color: #9d69b4;
}
.loading ul.loader-menu li a.btn-hex.yellow {
  background-color: #f4b400;
  border-color: #f4b400;
}
.loading ul.loader-menu li a.btn-hex.red {
  background-color: #f44;
  border-color: #f44;
}
.loading ul.loader-menu li a.btn-hex.pink {
  background-color: #ed3ba6;
  border-color: #ed3ba6;
}
.pulsed {
  -webkit-animation: pulse 0.5s infinite;
  -moz-animation: pulse 0.5s infinite;
  -o-animation: pulse 0.5s infinite;
  -ms-animation: pulse 0.5s infinite;
  animation: pulse 0.5s infinite;
}
@-moz-keyframes canvasanim {
  0% {
    left: -1000px;
  }

  50% {
    left: 0px;
  }

  100% {
    left: -1000px;
  }
}
@-webkit-keyframes canvasanim {
  0% {
    left: -1000px;
  }

  50% {
    left: 0px;
  }

  100% {
    left: -1000px;
  }
}
@-o-keyframes canvasanim {
  0% {
    left: -1000px;
  }

  50% {
    left: 0px;
  }

  100% {
    left: -1000px;
  }
}
@-ms-keyframes canvasanim {
  0% {
    left: -1000px;
  }

  50% {
    left: 0px;
  }

  100% {
    left: -1000px;
  }
}
@keyframes canvasanim {
  0% {
    left: -1000px;
  }

  50% {
    left: 0px;
  }

  100% {
    left: -1000px;
  }
}
@-moz-keyframes pulse {
  0% {
    background-color: #ddd;
  }

  50% {
    background-color: #33b5e5;
  }

  100% {
    background-color: #ddd;
  }
}
@-webkit-keyframes pulse {
  0% {
    background-color: #ddd;
  }

  50% {
    background-color: #33b5e5;
  }

  100% {
    background-color: #ddd;
  }
}
@-o-keyframes pulse {
  0% {
    background-color: #ddd;
  }

  50% {
    background-color: #33b5e5;
  }

  100% {
    background-color: #ddd;
  }
}
@-ms-keyframes pulse {
  0% {
    background-color: #ddd;
  }

  50% {
    background-color: #33b5e5;
  }

  100% {
    background-color: #ddd;
  }
}
@keyframes pulse {
  0% {
    background-color: #ddd;
  }

  50% {
    background-color: #33b5e5;
  }

  100% {
    background-color: #ddd;
  }
}
.tagbin {
  position: fixed;
  left: 70%;
  top: 83%;
  font-size: 20px;
}
.tagbin .tagbin_img {
  margin-bottom: 100px;
  height: 80px;
  width: 186px;
}
.tagbin ._text {
  margin-top: 20px;
  color: #9d69b4;
}
.tagbin_img {
  -webkit-animation-name: scaling;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(1);
  }

  9% {
    -webkit-transform: scale(1.05);
  }

  10% {
    -webkit-transform: scale(1);
  }

  19% {
    -webkit-transform: scale(1.05);
  }

  20% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
.matter {
  margin-top: 20%;
  text-align: center;
  font-weight: 200;
  font-size: 21px;
}
.center {
  margin-left: 40%;
}
.swipe_notification {
  position: fixed;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  background-color: #fff;
  margin-top: 90px;
  background-color: #33b5e5;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.15);
  text-align: center;
  font-family: "RobotoLight";
  padding: 18px 20px;
  height: 70px;
  width: 400px;
  left: 36%;
  top: 62%;
  font-size: 28px;
  line-height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tile {
  position: fixed;
  top: 18%;
  left: 1%;
  width: 90%;
}
.username {
  margin-top: 5%;
  margin-left: 1%;
  font-family: RobotoThin;
  font-size: 50px;
}
.post {
  margin-top: 8%;
  margin-left: 3%;
  font-family: RobotoThin;
  font-size: 35px;
  line-height: 40px;
}
.pic {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 70%;
  min-height: 45%;
  min-width: 45%;
  margin-left: auto;
  margin-right: auto;
}
.thumb {
  font-size: 52px;
  color: #800080;
  margin-left: 4%;
}
#likes_count {
  font-size: 35px;
  font-family: RobotoThin;
  margin-top: 3%;
}
