.tagbin
	position fixed
	left 70%
	top 83%
	font-size 20px
	.tagbin_img
		margin-bottom 100px
		height 80px
		width 186px
	._text
		margin-top 20px
		color _purple

.tagbin_img
	-webkit-animation-name scaling 
	-webkit-animation-duration 1s
	-webkit-animation-iteration-count infinite
	-webkit-animation-timing-function linear

@-webkit-keyframes scaling
	0% {-webkit-transform scale(1)}
	9% {-webkit-transform scale(1.05)}
	10% {-webkit-transform scale(1)}
	19% {-webkit-transform scale(1.05)}
	20% {-webkit-transform scale(1)}
	100% {-webkit-transform scale(1)}

.matter
	margin-top 20%
	text-align center
	font-weight 200
	font-size 21px

.center
	margin-left 40%

.swipe_notification
	position fixed
	border none
	box-shadow none
	background none
	background-color #FFF
	margin-top 90px
	background-color _blue
	color #FFF
	text-shadow 0px 1px 1px rgba(0,0,0,0.15)
	text-align center
	font-family baseFontLight	
	padding 18px 20px
	height 70px
	width 400px
	left 36%
	top 62%
	font-size 28px
	line-height 32px
	box-sizing border-box

.tile
	position fixed
	top 18%
	left 1%
	width 90%

.username
	margin-top 5%
	margin-left 1%
	font-family RobotoThin
	font-size 50px

.post
	margin-top 8%
	margin-left 3%
	font-family RobotoThin
	font-size 35px
	line-height 40px

.pic
	display block
	width auto
	height auto
	max-width 100%
	max-height 70%
	min-height 45%
	min-width 45%
	margin-left auto
	margin-right auto

.thumb
	font-size 52px
	color purple
	margin-left 4%

#likes_count
	font-size 35px
	font-family RobotoThin
	margin-top 3%